<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap 3 Admin</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="styles/admin/styles.css" rel="stylesheet">
</head>
<body>
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#">My Profile</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!-- Left column -->
            <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Налаштування</strong></a>

            <hr>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body  nav nav-tabs">


                    <div class="tabbable tabs-left ">



                        <ul class="nav nav-stacked">
                            <li data-toggle="collapse" data-target="#demo1">
                                <a href="#">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <span>Категорії небезпеки</span>
                                </a>
                            </li>
                            <div id="demo1" class="collapse">
                                <blockquote>
                                    <div class="list-group">
                                        <% if (categories && categories.length > 0){ %>
                                            <% for(var i = 0; i < categories.length; i++) { %>
                                                <% var c_name = categories[i].name %>
                                                <% if(i===0){ %>
                                                    <% var isActiveItemCategorty = "active"; %>
                                                <% } else { %>
                                                    <%  var isActiveItemCategorty = ""; %>
                                                <% } %>
                                                <a href="#categories_<%= i %>" data-toggle="tab" class="<%= isActiveItemCategorty %> list-group-item-text list-group-item ">
                                                    <span><%= c_name %></span>
                                                </a>
                                            <% } %>
                                        <% } %>
                                    </div>


                                    <!--<div class="btn active">-->
                                    <!--<a href="#a" data-toggle="tab">-->
                                    <!--<i class="glyphicon glyphicon-home"></i>-->
                                    <!--<span>Створити</span>-->
                                    <!--</a>-->
                                    <!--</div>-->
                                    <!--<div class="btn">-->
                                    <!--<a href="#b" data-toggle="tab">-->
                                    <!--<i class="glyphicon glyphicon-cog"></i>-->
                                    <!--<span>Додати</span>-->
                                    <!--</a>-->
                                    <!--</div>-->
                                </blockquote>
                            </div>
                            <li data-toggle="collapse" data-target="#demo2"><a href="#"><i class="glyphicon glyphicon-cog"></i> Options</a></li>
                            <li data-toggle="collapse" data-target="#demo3"><a href="#"><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
                            <!--<li><a href="#"><i class="glyphicon glyphicon-user"></i> Staff List</a></li>-->
                            <!--<li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>-->
                            <!--<li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>-->
                        </ul>


                        <button class="btn">Collapsible1</button>
                        <button class="btn" data-toggle="collapse" data-target="#demo2">Collapsible2</button>
                        <button class="btn" data-toggle="collapse" data-target="#demo3">Collapsible3</button>


                        <div id="demo2" class="collapse">
                            Some text..2
                        </div>

                        <div id="demo3" class="collapse">
                            Some text..3
                        </div>

                    </div>
                </div>
            </div>





            <!--<ul class="">-->
            <!--<li >-->

            <!--</li>-->
            <!--<li><a href="#b" data-toggle="tab">Two</a></li>-->
            <!--<li><a href="#c" data-toggle="tab">Twee</a></li>-->
            <!--</ul>-->
            <!--<div class="clearfix"></div>-->







            <hr>

            <a href="#"><strong><i class="glyphicon glyphicon-link"></i> Resources</strong></a>

            <hr>



        </div>
        <!-- /col-3 -->
        <div class="col-sm-9">

            <!-- column 2 -->

            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>
            <hr>

            <div class="row">
                <!-- center left-->
                <div class="col-md-6">
                    <div class="tab-content">
                        <div class="tab-pane active" id="a">

                            <div class="panel-body">



                                <form action="/category/create" class="form form-vertical" method="post">
                                    <div class="control-group">
                                        <label>Назва категорії небезпеки</label>
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Enter Назва категорії небезпеки" name="name">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label>Показувати користувачам</label>
                                        <div class="controls">
                                            <select name="isShow" class="form-control">
                                                <option value="true">Так</option>
                                                <option value="false">Ні</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label></label>
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary">
                                                Create
                                            </button>
                                        </div>
                                    </div>
                                    <!--<input type="submit"/>-->
                                </form>
                            </div>

                        </div>
                        <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.</div>
                        <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                    </div>




                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="glyphicon glyphicon-wrench pull-right"></i>
                                <h4>Post Request</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form form-vertical">
                                <div class="control-group">
                                    <label>Name</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Message</label>
                                    <div class="controls">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Category</label>
                                    <div class="controls">
                                        <select class="form-control">
                                            <option>options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label></label>
                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary">
                                            Post
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--/panel content-->
                    </div>


                </div>


            </div>
            <!--/row-->

            <hr>

        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->

<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></footer>

<div class="modal" id="addWidgetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
                <p>Add a widget stuff here..</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dalog -->
</div>
<!-- /.modal -->
<!-- script references -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/admin/scripts.js"></script>
</body>
</html>
