$navbar-color: #8A0707;
$border-color: #bedce0;
$liked-color: #292a96;
$bg-color: repeating-linear-gradient(
                67deg,
                #bc2114,
                #606dbc 10px,
                #030306 10px,
                #465298 20px
);
$light-text-color: #808080;
$default-font-size: 1.5rem;
$small-font-size: 1.25rem;